node_modules
public
.next
.env
.env.local
.env.production
.env.development
tsconfig.json
tailwind.config.js
README.md
postcss.config.js
package.json
package-lock.json
next.config.js
next-env.d.ts
.gitignore
.huskyrc
.lintstagedrc